[submodule "microstrain_3dmgx2_imu"]
	path = microstrain_3dmgx2_imu
	url = https://github.com/awilby/microstrain_3dmgx2_imu.git
[submodule "makobot_vision"]
	path = makobot_vision
	url = https://github.com/awilby/makobot_vision.git
[submodule "kodak_sp360"]
	path = kodak_sp360
	url = https://github.com/awilby/kodak_sp360.git
[submodule "bluerov_ros"]
	path = bluerov_ros
	url = https://github.com/awilby/bluerov_ros.git
