[submodule "microstrain_3dmgx2_imu"]
	path = microstrain_3dmgx2_imu
	url = https://github.com/awilby/microstrain_3dmgx2_imu.git
[submodule "makobot_vision"]
	path = makobot_vision
	url = https://github.com/awilby/makobot_vision.git
