<launch>
  
  <!-- Machine setup -->
  <include file="$(find makobot)/cfg/machines.xml" />

  <!-- start the joystick driver -->
  <node machine="topside" respawn="true" pkg="joy" type="joy_node" name="joy_node" output="screen">
    <param name="dev" value="/dev/xboxcontroller" type="string"/>
  </node>

  <!-- start the teleop app -->
  <node machine="topside" pkg="makobot_teleop" type="makobot_teleop" name="makobot_teleop" output="screen" />

</launch>
