<launch>

  <!-- Start the joystick driver -->
  <node respawn="true" pkg="joy" type="joy_node" name="joy_node" output="screen">
    <param name="dev" value="/dev/f310controller" type="string"/>
  </node>

  <!-- Start the teleoperation node -->
  <node pkg="makobot_teleop" type="makobot_teleop" name="makobot_teleop" output="screen" required="true">
    <param name="joystick" value="f310" type="string" />
  </node>

</launch>
