<launch>
  
  <!-- Machine setup -->
  <include file="$(find makobot)/cfg/machines.xml" />

  <!-- Start the joystick driver -->
  <node machine="topside" respawn="true" pkg="joy" type="joy_node" name="joy_node" output="screen">
    <param name="dev" value="/dev/xboxcontroller" type="string" />
  </node>

  <!-- Start the teleoperation node -->
  <node machine="topside" pkg="makobot_teleop" type="makobot_teleop" name="makobot_teleop" output="screen">
    <param name="joystick" value="xbox" type="string" />
  </node>

</launch>
