<!-- Launch Makobot control, teleop, localization, and UI/visualization tools -->
<launch>

  <!-- Args -->
  <arg name="record_bag" default="false" />
  <arg name="enable_teleop" default="true" />
  <arg name="enable_localization" default="true" />
  <arg name="joystick" default="xbox" />        <!-- Values: f310 or xbox -->

  <!-- Machine Definitions -->
  <include file="$(find makobot)/cfg/makobot.machine" />


  <!-- Start BlueROV2: pixhawk, camera, teleop -->
  <include file="$(find bluerov_robot)/launch/bluerov_start.launch">
    <arg name="machine" value="makobot-pi" />
  </include>

  <!-- If teleoperation enabled, start teleop node -->
  <group if="$(arg enable_teleop)">
      <include file="$(find bluerov_teleop)/launch/teleop_$(arg joystick).launch">
          <arg name="machine" value="topside" />
      </include>
  </group>

  <!-- Launch UI -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find makobot)/rviz/makobot.rviz" machine="topside" />


  <!-- Visual odometry and EKF localization -->
  <group if="$(arg enable_localization)">
      <!-- Monocular visual odometer -->
      <node pkg="viso2_ros" type="mono_odometer" name="mono_odometer" machine="fitlet2-1">
        <remap from="image" to="raspicam_node/image/compressed" />-->
        <param name="base_link_frame_id" value="base_link" />
        <param name="odom_frame_id" value="odom" />
        <param name="max_features" value="10" />
        <param name="motion_threshold" value="350" />
        <param name="camera_height" value="1.00" />
        <param name="camera_pitch"  value="0.00" />
      </node>

      <!-- EKF Localization -->
      <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" clear_params="true" machine="fitlet2-1">
        <rosparam command="load" file="$(find bluerov)/cfg/ekf.yaml" />
      </node>
  </group>



  <!-- Record all topics in bagfile -->
  <group if="$(arg record_bag)">
    <node pkg="rosbag" type="record" name="record" args="-a" machine="fitlet2-1" />
  </group>

</launch>
